*.js
!eslint.config.js
!bin/eslint.config.js
!lib/eslint.config.js
!scripts/eslint.config.js
!test/eslint.config.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
.codacy
